.newsBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  top: 0;
  height: 10px;
  min-width: 29%;
  padding-top: 10px;
  padding-left: 10px;
  position: sticky;
}

.newsBar > .content {
  margin-left: 20px;
}

@media only screen and (max-width: 884px) {
  .newsBar {
    display: none;
  }
}
