.newsBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  top: 0;
  height: 10px;
  min-width: 24%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
}

.newsBar > .content {
  margin-left: 20px;
}

.inputWrapper {
  display: flex;
  gap: 5px;
  border-radius: 20px;
  padding: 10px;
  background-color: #e1e8ed;
}

.inputWrapper:focus-within {
  border: 1px solid #1da1f2;
  background-color: white;
}

.inputWrapper:focus-within > input {
  background-color: white;
  outline: none;
}

.inputWrapper > input {
  border: none;
  background-color: #e1e8ed;
}

.inputWrapper:focus-within > .searchIcon {
  color: #1da1f2;
}

@media only screen and (max-width: 884px) {
  .newsBar {
    display: none;
  }
}
