.configSection {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.configSection > span {
  border: 1px solid #aab8c2;
  padding: 3px 13px 3px 13px;
  border-radius: 20px;
  color: #1da1f2;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.configSection > img {
  border-radius: 60px;
  width: 60px;
  height: 60px;
}
