.configSection {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.configSection > span {
  border: 1px solid #AAB8C2;
  padding: 3px 13px 3px 13px;
  border-radius: 20px;
  color: #1DA1F2;
  font-weight: bold;
  font-size: 14px;
}

.configSection > img {
  border-radius: 60px;
  width: 60px;
  height: 60px;
}