.whatsHapenningSection {
  background-color: #1da0f213;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.whatsHapenningSectionContent {
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.whatsHapenningTitle {
  padding: 0px 10px 0px 15px;
}

.cardWithPhoto {
  display: flex;
  gap: 30px;
  cursor: pointer;
  width: -webkit-fill-available;
  padding: 10px 10px 10px 15px;
}

.cardWithPhoto:hover {
  background-color: #6577861b;
}

.cardWithPhoto > img {
  border-radius: 15px;
  height: 70px;
  width: 70px;
}

.cardLeftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.cardWithPhoto > .cardLeftSection > p {
  margin: 0px;
  font-size: 0.8em;
  color: #657786;
}

.cardWithPhoto > .cardLeftSection > h4 {
  margin: 0px;
}

.cardWithoutPhoto {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 10px 10px 10px 15px;
}

.cardWithoutPhoto:hover {
  background-color: #6577861b;
}

.cardWithoutPhoto > .cardLeftSection > p {
  margin: 0px;
  font-size: 0.8em;
  color: #657786;
}

.cardWithoutPhoto > .cardLeftSection > h4 {
  margin: 0px;
}

.showMore {
  color: #1da1f2;
  cursor: pointer;
}

.showMore:hover {
  background-color: #6577861b;
  border-radius: 0px 00px 10px 10px;
  width: 100%;
}

.showMore > p {
  padding-left: 15px;
  width: fit-content;
  font-size: 0.9em;
}
