.navbarItem {
  display: inline-flex;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
}

.navbarItem span {
  font-weight: bold;
}

@media only screen and (max-width: 884px) {
  .phrase {
    display: none;
  }
}
