.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 24%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
}

.navbarIcon {
  height: 30px;
  width: 30px;
  color: #0f1419;
}

.twitterLogo {
  width: 30px;
}

@media only screen and (max-width: 884px) {
  .navbar {
    min-width: 5%;
  }
}

@media only screen and (max-width: 539px) {
  .navbar {
    display: none;
  }
}
